{% load i18n %}

<div class="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a>
    &rsaquo;
    <a href="../">{{ opts.app_config.verbose_name }}</a>
    &rsaquo;
    [
        {% if cl.opts.verbose_name == "Site statistics" %}
            <strong><a href="{% url 'admin:django_processinfo_sitestatistics_changelist' %}">Site statistics</a></strong>
            |
            <a href="{% url 'admin:django_processinfo_processinfo_changelist' %}" style="text-decoration:underline">Process statistics</a>
        {% else %}
            <a href="{% url 'admin:django_processinfo_sitestatistics_changelist' %}" style="text-decoration:underline">Site statistics</a>
            |
            <strong><a href="{% url 'admin:django_processinfo_processinfo_changelist' %}">Process statistics</a></strong>
        {% endif %}
    ]
</div>